[Unit]
Description=Acer nsense service

[Service]
Type=simple
WorkingDirectory=/opt/nsense
ExecStart=/opt/nsense/bin/nsense -p /run/nsense.pid -l error -f
ExecStop=sh -c 'kill -s TERM `cat /opt/nsense/run/nsense.pid`'
ExecReload=sh -c 'kill -s HUP `cat /opt/nsense/run/nsense.pid`'
PIDFile=/run/nsense.pid
TimeoutStopSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target
