[Unit]
Description=Acer nsense service sleep hook
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sh -c 'kill -s TSTP `cat /opt/nsense/run/nsense.pid`'
ExecStop=sh -c 'kill -s CONT `cat /opt/nsense/run/nsense.pid`'

[Install]
WantedBy=sleep.target 